services:
  # PHP Application
  app:
    image: gunsu13/bros_procurement:latest
    container_name: procurement-app
    restart: unless-stopped
    tty: true
    env_file:
      - .env
    working_dir: /var/www
    volumes:
      - public_data:/var/www/public
      - ./storage:/var/www/storage
      - ./bootstrap/cache:/var/www/bootstrap/cache
    networks:
      - app-network

  # Nginx Web Server
  web:
    image: nginx:alpine
    container_name: procurement-web
    restart: unless-stopped
    tty: true
    ports:
      - "9001:80"
    volumes:
      - public_data:/var/www/public
      - ./docker/nginx/laravel.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  public_data:
